<div>
    <p>Error: {{ .Data.Error }}</p>
    <p>Input: {{ .Data.Input }}</p>
    <form>
        <p>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required />
        </p>
        <fieldset>
            <legend>Force</legend>
            {{ range $idx, $force := .Data.PossibleValues.Forces }}
            <div>
                <input type="radio" id="force_{{ $force }}" name="force" value="{{ $idx }}" />
                <label for="force_{{ $force }}">{{ $force }}</label>
            </div>
            {{ end }}
        </fieldset>
        <fieldset>
            <legend>Level</legend>
            {{ range $idx, $level := .Data.PossibleValues.Levels }}
            <div>
                <input type="radio" id="level_{{ $level }}" name="level" value="{{ $idx }}" />
                <label for="level_{{ $level }}">{{ $level }}</label>
            </div>
            {{ end }}
        </fieldset>
        <fieldset>
            <legend>Mechanic</legend>
            {{ range $idx, $mechanic := .Data.PossibleValues.Mechanics }}
            <div>
                <input type="radio" id="mechanic_{{ $mechanic }}" name="mechanic" value="{{ $idx }}" />
                <label for="mechanic_{{ $mechanic }}">{{ $mechanic }}</label>
            </div>
            {{ end }}
        </fieldset>
        <fieldset>
            <legend>Category</legend>
            {{ range $idx, $category := .Data.PossibleValues.Categories }}
            <div>
                <input type="radio" id="category_{{ $category }}" name="category" value="{{ $idx }}" />
                <label for="category_{{ $category }}">{{ $category }}</label>
            </div>
            {{ end }}
        </fieldset>
        <fieldset>
            <legend>Primary Muscle</legend>
            {{ range $idx, $muscle := .Data.PossibleValues.Muscles }}
            <div>
                <input type="radio" id="primary_{{ $muscle }}" name="primary" value="{{ $idx }}" />
                <label for="primary_{{ $muscle }}">{{ $muscle }}</label>
            </div>
            {{ end }}
        </fieldset>
        <fieldset>
            <legend>Secondary Muscles</legend>
            {{ range $idx, $muscle := .Data.PossibleValues.Muscles }}
            <div>
                <input type="checkbox" id="secondary_{{ $muscle }}" name="secondary" value="{{ $idx }}" />
                <label for="secondary_{{ $muscle }}">{{ $muscle }}</label>
            </div>
            {{ end }}
        </fieldset>
        <fieldset>
            <legend>Equipment</legend>
            {{ range $idx, $equipment := .Data.PossibleValues.Equipments }}
            <div>
                <input type="checkbox" id="equipment_{{ $equipment }}" name="equipment" value="{{ $idx }}" />
                <label for="equipment_{{ $equipment }}">{{ $equipment }}</label>
            </div>
            {{ end }}
        </fieldset>
        <p>
            <textarea id="instructions" name="instructions" rows="15" cols="80" placeholder="Instructions"/></textarea>
        </p>
        <p>
            <label for="avatar">Images</label>
            <input type="file" id="images" name="images" multiple />
        </p>
        <p><button type="submit" hx-post="/exercise" hx-target="#content">Create</button></p>
    </form>
</div>
