<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout Tracker</title>
    <script src="/static/htmx.min.js"></script>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }

      input:invalid:required,
      fieldset.invalid {
        box-shadow: 0 0 3px darkred;
      }

      input:valid,
      fieldset.valid {
        box-shadow: 0 0 3px darkgreen;
      }
    </style>
  </head>

  <body>
    <div>
      {{ .Partials.Navbar }}
    </div>
    <div id="content">
      {{ .Partials.Content }}
    </div>
  </body>
</html>
