<div id="table">
  <table>
    <thead>
      <tr>
        {{ range .Data.Columns -}}
          <th>{{ . }}</th>
        {{- end }}
      </tr>
    </thead>
    <tbody>
      {{ range $exercise := .Data.Exercises -}}
        <tr>
          <td>
            {{ range $action := $.Data.Actions -}}
              {{ exerciseAction $action $exercise.ID }}
            {{- end }}
          </td>
          <td>{{ $exercise.Name }}</td>
          <td>{{ $exercise.Force }}</td>
          <td>{{ $exercise.Level }}</td>
          <td>{{ $exercise.Mechanic }}</td>
          <td>{{ $exercise.Category }}</td>
          <td>{{ $exercise.PrimaryMuscle }}</td>
          <td>{{ join $exercise.SecondaryMuscles ", " }}</td>
          <td>{{ join $exercise.Equipment ", " }}</td>
          <td>{{ $exercise.Instructions }}</td>
          <td>
            {{- range $img := $exercise.Images }}
              <img
                src="/static/images/{{ $img }}"
                alt="could not render /static/images/{{ $img }}"
                width="100"
                height="100"
                sizes="auto"
              />
            {{- end -}}
          </td>
        </tr>
      {{- end }}
    </tbody>
  </table>
</div>
